
@{
    ViewBag.Title = "Home Page";
}



    <div class="col-md-8">
        <h1>Khóa học: Front-end</h1>
        <ol type="1">
            <li>Boostrap</li>
            <li>Angular JS</li>
            <li>Angular</li>
        </ol>

    </div>
